.navbar-brand img {
  height: 25px;
}

.navbar-nav .nav-link {
  margin: 0.2rem 0;
}

/* Hide navbar-text on very small screens */
@media (max-width: 576px) {
  .navbar-text {
    display: none;
  }
}

