:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a1a1a;
  background-color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent body scroll */
}

h1, h2 {
  text-align: center;
}

button {
  border: 0.5vmin solid #1a1a1a;
  border-radius: 0.5vmin;
  padding: 0.8vmin;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border-color: #1a1a1a;
}

button:disabled {
  background-color: white;
}

form {
  border: none;
  padding: 4vmin;
  display: grid;
  gap: 1.2vmin;
}

input, select, textarea {
  border: none;
  padding: 0.7vmin;
  font-size: 2vmin;
  border-radius: 0;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

.error-message {
  color: rgb(166, 29, 29);
}
